.tooltip{
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 150px;
  padding: 1em;
  color: #ffffff;
  text-align: center;

  &.animated{
    transition-duration: 100ms;
  }
}